<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
</head>
<body>
    <h1>User List page</h1>
    <ul>
        <% for(let i=0;i<users.length;i++) { %>
        <li> <%= users[i] %> </li>
        <% } %>
    </ul>

    <% if(isLogin) { %>
        <h1>User is login</h1>

        <% } else { %>
        <h1>User is not login</h1>
        
    <% } %>   
    
</body>
</html>
