<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data will be here</h1>

    <table border="1">
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Id</td>
        </tr>
    
    <% schools.forEach(school=>{  %>
         <tr>
            <td> <%= school.name %> </td>
            <td> <%= school.age %> </td>
            <td> <a href="ui/delete/<%= school._id %>"> Delete </a> </td>
            <td> <a href="ui/school/<%= school._id %>"> Update </a> </td>

        </tr>
    <% }) %>
       
    
    </table>
</body>
</html>
